<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>

	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="ROBOTS" content="NOINDEX, NOFOLLOW">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

	{% load staticfiles %}   
	<link rel="stylesheet" href="{% static "css/main.css" %}" type="text/css">
	<link rel="stylesheet" href="{% static "css/selectBoxIt.css"%}" type="text/css">
	<link rel="stylesheet" href="{% static "css/print.css"%}" type="text/css" media="print">
  <link rel="stylesheet" href="{% static "css/jquery-ui-1.8.14.custom.css"%}" type="text/css"> 
	<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' type='text/css'>
	
	{% block css %}{% endblock %}

	<script type="text/javascript" src="{% static "js/main.js"%}"></script>
	<script type="text/javascript" src="{% static "js/selectBoxIt.min.js"%}"></script>
	<!--<script type="text/javascript" src="{% static "js/ct-stem.js"%}"></script>-->

	<script type="text/javascript">
	// should we move these methods into ct-stem.js and just include that instead? maybe when this js gets a lot longer?

		function getCurrentPageNum() {
			return parseInt(parent.location.hash.substring(2));
		}

		function nextPageHandler() {
			$('html, body').animate({ scrollTop: 0 });
			nextPage();
		}

		function backPageHandler() {
			$('html, body').animate({ scrollTop: 0 });
			backPage();
		}

		function updateFooterPosition() {
		  $('#footer').css('margin-top', $('#page' + (getCurrentPageNum() - 1)).innerHeight() +"px");
		}

    function preSubmitLogic() {
      populateMCs();
    }

    // MCs == multiple choice inputs
    function populateMCs() {
      $('.check-one').each(function (index, el) {
        var inputNum = $(this).attr('input-num');
        var answer = $(this).children('.selected').attr('answer');
        $('#'+inputNum).val(answer);
      });
		}


		// before rendering page - pretty-ify the dropdown and load up the pagination system 
		$(function() {
	    $(".selectBoxIt").selectBoxIt({
	    	autoWidth: false
	    });

	    startup();
	  });
	</script>

	{% block js %}{% endblock %}

</head>
<body>
  <div class="content">
		<div id="header" class="ui-widget-header" style="border:none;height:53px;">
	  {% block header %}
	      <button id="top-back-button" class="back-button" onclick="backPage();">&#x25C4; BACK</button>
	      <span class="page-header-text">
		      {% block page-header%}{% endblock %}
		      <span id="page-number" style="padding-left:15px;">Page 1</span>
		    </span>
	      <button id="top-next-button" class="next-button" onclick="localNextPageHandler();return false;">NEXT &#x25BA;</button>
	  {% endblock %}
		</div>
	
	  {% block body %}{% endblock %}
  
	  {% block footer %}
			<div id="footer" class="ui-widget-header" style="border:none;height:88px;">
		  	<div style="height:88px;">
		  		<button id="bottom-back-button" class="back-button" onclick="backPage();">&#x25C4; BACK</button>
		      <button id="bottom-next-button" class="next-button" onclick="localNextPageHandler();return false;">NEXT &#x25BA;</button>
		      <button id="submit-and-finish-button" class="submit-and-finish-button" type="submit" onclick="if(confirm('Are you sure you want to submit your answers?\nThere are still more questions to answer.')){preSubmitLogic();$('#theForm').submit();} else {return false;}">Submit &amp; Finish</button>
		      <button id="submit-button" class="submit-button" type="submit" onclick="preSubmitLogic();$('#theForm').submit();return true;" style="visibility:hidden;" name="submit" value="Submit">Submit</buton>
			</div>
	  {% endblock %}
  </div>
</body>
</html>