{% extends "base.html" %}

{% block title %}CT-STEM Student Login{% endblock %}

{% block js %}
  <script type="text/javascript">
    function getData(url, select) {
      $.ajax( {
        url: url,
        dataType : 'json',
        data: {'filter': select.value} 
      })
        .done( function (data) {
          $('#' + data['table'])
            .prop('disabled', false)
            .data("selectBox-selectBoxIt")
            .remove()
            .add({ value: '', text: '--- Select ' + data['table'] + ' ---' })
          $(data['values']).each(function(index, element) {
            console.log(data['table']);
            $('#' + data['table']).data("selectBox-selectBoxIt").add({ value: element[0], text: element[1] });
          });
        });
    }
  </script>
{% endblock %}


{% block header %}
  <span class="page-header-text">CT-STEM Student Login </span>
  <button class="next-button" onclick="$('#theForm').submit()">NEXT &#x25BA;</button>
{% endblock %}


{% block body %}

  <div class="page">
    <center>
    {# <h1 style="font-size: 40pt;">CT-STEM</h1> #}
      <h2>Computational Thinking in<br/>Science, Technology, Engineering, and Mathematics</h2>
      <img src="/static/images/logo.png">
    </center>

    {% if errors %}
      <ul>
        {% for error in errors %}
          <li><span class="error-msg">{{error}}</span></li>
        {% endfor %}
      </ul>
      <!-- ERROR:
      {{ e }} -->
    {% endif %}
       
    <form id="theForm" action="/student/status/" method="post">
      <div style="margin:10px;height:380px;">
      
      <div class="prompt" style="margin:6px; padding 6px;">Student ID: <input type="text" name="student_id" size="8"/></div>
      
      <select id="school" name="school" class="selectBoxIt" onChange="getData('/student/get_data/Teacher/', this)">
        <option value="" selected="selected">---Select School---</option>
          {% for school in schools %}
              <option value="{{school.school}}">{{school.school|capfirst}}</option>
          {% endfor %}
      </select><br/>
      

      
      <select id="Teacher" name="teacher" class="selectBoxIt" onChange="getData('/student/get_data/Section/', this)" disabled>
        <option value="" selected="selected">---Select Teacher---</option>
      </select><br/>

      <select id="Section" name="section" class="selectBoxIt" disabled>
        <option value="" selected="selected">--- Select Section ---</option>
      </select><br/>

      <select id="Assessment" name="assessment_set" class="selectBoxIt">
        <option value="" selected="selected">--- Select Assessment ---</option>

        {% for assessment in assessments %}
            <option value="{{assessment.id}}">{{assessment.name}}</option>
        {% endfor %}

      </select><br/>

      <select id="location" name="location" class="selectBoxIt">
        <option value="" selected="selected">--- Select Location ---</option>
        <option value="in_class">In Class</option>
        <option value="at_home">At Home</option>
        <option value="computer lab">In Computer Lab</option>
        <option value="other_school">Somewhere Else at School</option>
        <option value="other_not_school">Somewhere Else Outside of School</option>
      </select>
    </div>
    </form>

    <div class="logos">
       <img src="/static/images/northwestern.png" style="width: 70px; margin: 20px;">
       <img src="/static/images/NSF.png" style="width: 70px; margin: 20px;">
    </div>
    
    <div class="sponsor-info">
       This work is supported by the National Science Foundation under grant
       CNS-1138461 and is covered by <br>Northwestern University IRB Study STU00058570.
    </div>
  </div>  

{% endblock %}
{% block footer %}
  <div id="footer" class="ui-widget-header" style="border:none;height:53px;">
    <button class="next-button" onclick="$('#theForm').submit()">NEXT &#x25BA;</button>
  </div>
  
{% endblock %}

