<html>
<head>
    <title>Search</title>
</head>
<body>



    


	{% if student_login_form.errors %}
        <p style="color: red;">
            Please correct the error{{ student_login_form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="/student/status/" method="post">

        Student ID: <input type="text" name="student_id" size="8"/><br/>

        <select id="school" name="school_list" onChange="getTeachers()">
          <option  value="" selected="selected">---Select School---</option>
            {% for school in schools %}
                <option value="{{school.school}}">{{school.school|capfirst}}</option>
            {% endfor %}
        </select><br/>
        
        <input type="submit" value="Submit">

{{schools}}

    </form>


</body>
</html>