{% extends "sets/set-base.html" %}

{% block title %}Computational Thinking in STEM - Universal Assessment 1{% endblock %}

{% block css %}
 <style type="text/css">
   .uni1-tortoise-frame {
      height:593px;
      width:681px;
      padding: 8px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      box-shadow: 3px 3px 10px #555;
      margin-left:-38px;
      margin-top:10px;
   }
  </style>
{% endblock %}

{% block set-js %}

<script type="text/javascript">
   function refreshIFrames(loadFrame) {
      // clear all frames
      $('iframe').each (function (id, el) { $(el).attr('src', "");});
      // load desired frame
      $('#uni1-frame' + loadFrame).attr('src', '/static/netLogo/climate_change.html');
   }

   $(function() {
      if (getCurrentPageNum() == 1) {
         $('#submit-and-finish-button').css('visibility', 'hidden');
      }
      updateFooterPosition();
      refreshIFrames(getCurrentPageNum());
   });

 </script>
{% endblock %}

{% block customNextPageHandler %}
refreshIFrames(getCurrentPageNum() + 1);
{% endblock %}

{% block customBackPageHandler %}
refreshIFrames(getCurrentPageNum() - 1); 
{% endblock %}

{% block page-header%}CT in STEM - Universal Assessment 1{% endblock %}

{% block set-body %}
   <div class="page">
		<form id="theForm" action="/assessment/record/{{assessmevent.id}}/" method="post">

         <center><h3>Exploring Climate Change</h3></center>
         <div class="stimulus">
         These questions use a computer model that simulates the effect of cloud cover and carbon dioxide (CO<sub>2</sub>) on the temperature of earth. To run the simulation, click on the <b>Setup</b> button and then click on the <b>Go</b> button to start the model. CO<sub>2</sub> is shown as green and white molecules in the atmosphere. To run the simulation again, press the Setup button. A graph above the simulation shows the global temperature over the time. You can change the speed of the model with the slider at the top of the model.
         <iframe id="uni1-frame1" src="" class="uni1-tortoise-frame"></iframe>
         <span onclick="$( '#webstart-instructions1' ).toggle( 'blind', function(){updateFooterPosition();});" style="cursor:pointer;float:right;font-size:12px;margin-top:-12px;text-decoration:underline;">If you do not see the model above, please click here.</span><br/>
         <div id="webstart-instructions1" style="display:none;padding-left:20px;line-height:135%;font-size:14px;">
         You can download and run a version of the model by following these steps:
         <pre style="font-size:11pt;line-height:100%;margin-right:-11px;">
1. Click <a href="/static/netLogo/climate_change.jnlp" onclick="$('#opened_WS').val('true');return true;" target="_blank">here</a> to download the model.<br/>
2. Click OK to begin the download.  It may take a minute or two.<br/>
3. You will be asked for permission to run the model, click 'allow'.<br/>
4. You should see a NetLogo icon, then the model will open.<br/>
5. Use this model to answer questions 1 - 5 of this assessment.</pre>
         </div>
         Try running the model a few times now. There are two sliders that adjust the cloud coverage and carbon dioxide (CO<sub>2</sub>) in the atmosphere. 
         <br/><br/>
         In the model, the yellow lines represent sunlight. Some of the sunlight reflects off the earth’s surface while some of the sunlight is absorbed. The red dots represent heat energy that has been absorbed. Some of this heat energy is emitted back towards the atmosphere in the form of infrared (IR) light. The infrared light is show as red lines.
      </div>
   </div>

   <div class="page">
      Using the climate change model to answer the questions below.
      <iframe id="uni1-frame2" src="" class="uni1-tortoise-frame"></iframe>
      <span onclick="$( '#webstart-instructions2' ).toggle( 'blind', function(){updateFooterPosition();});" style="cursor:pointer;float:right;font-size:12px;margin-top:-12px;text-decoration:underline;">If you do not see the model above, please click here.</span><br/>
      <div id="webstart-instructions2" style="display:none;padding-left:20px;line-height:135%;font-size:14px;">
      You can download and run a version of the model by following these steps:
      <pre style="font-size:11pt;line-height:100%;margin-right:-11px;">
1. Click <a href="/static/netLogo/climate_change.jnlp" onclick="$('#opened_WS').val('true');return true;" target="_blank">here</a> to download the model.<br/>
2. Click OK to begin the download.  It may take a minute or two.<br/>
3. You will be asked for permission to run the model, click 'allow'.<br/>
4. You should see a NetLogo icon, then the model will open.<br/>
5. Use this model to answer questions 1 - 5 of this assessment.</pre>
      </div>
      <div class="prompt">
         <b>Item 1:</b> Set the cloud-coverage to 0% and CO<sub>2</sub>-amount to 0 and run the model. Let it run for at least 10,000 ticks. Choose the best statement about what happens to the temperature over time:
      </div>
      <ol class="check-one" input-num="uni1_1">
         <li answer="A">The temperature keeps increasing over the time.</li>
         <li answer="B">The temperature oscillates (repeatedly rises and falls) forever.</li>
         <li answer="C">The temperature increases first and then begins oscillating forever.</li>
         <li answer="D">The temperature increases, reaches a peak, then decreases back to zero.</li>
      </ol>
      <input id="uni1_1" type="text" dir="auto" value="" name="uni1_1" style="display:none;">

      <div class="prompt">
         <b>Item 2:</b> Keep the cloud-coverage and CO<sub>2</sub> sliders at zero. Watch a single ray of sunlight (yellow line) all the way down to the earth. This is easier if you slow down the model using the slider at the top of the model.
         <br/>
      </div>
      <div  style="padding-left:33px;">
         <div class="prompt">
            <b>A:</b> What happens to the single ray of sunlight when it hits the earth?    
         </div>
         <textarea id="uni1_2a" name="uni1_2a" style="width:597px;"></textarea>
         <div class="prompt">
            <b>B:</b> What are all of the different things that can happen to a ray of sunlight in the model?
         </div>
         <textarea id="uni1_2b" name="uni1_2b" style="width:597px;"></textarea>
      </div>
   </div>

   <div class="page">
      <iframe id="uni1-frame3" src="" class="uni1-tortoise-frame"></iframe>
      <span onclick="$( '#webstart-instructions3' ).toggle( 'blind', function(){updateFooterPosition();});" style="cursor:pointer;float:right;font-size:12px;margin-top:-12px;text-decoration:underline;">If you do not see the model above, please click here.</span><br/>
      <div id="webstart-instructions3" style="display:none;padding-left:20px;line-height:135%;font-size:14px;">
      You can download and run a version of the model by following these steps:
      <pre style="font-size:11pt;line-height:100%;margin-right:-11px;">
1. Click <a href="/static/netLogo/climate_change.jnlp" onclick="$('#opened_WS').val('true');return true;" target="_blank">here</a> to download the model.<br/>
2. Click OK to begin the download.  It may take a minute or two.<br/>
3. You will be asked for permission to run the model, click 'allow'.<br/>
4. You should see a NetLogo icon, then the model will open.<br/>
5. Use this model to answer questions 1 - 5 of this assessment.</pre>
      </div>

      <div class="prompt">
         <b>Item 3:</b> Set the cloud coverage to 50% and CO<sub>2</sub> amount to 50. Run the model long enough to see IR light (red lines) start to appear. Choose the best statement, based on what you see:
      </div>
      <ol class="check-one" input-num="uni1_3">
         <li answer="A">Clouds block both IR light and sunlight.</li>
         <li answer="B">CO<sub>2</sub> molecules block both IR light and sunlight.</li>
         <li answer="C">CO<sub>2</sub> molecules block IR light but not sunlight.</li>
         <li answer="D">Clouds block IR light but not sunlight.</li>
      </ol>
      <input id="uni1_3" type="text" dir="auto" value="" name="uni1_3" style="display:none;">

      <div class="prompt">
         <b>Item 4:</b> Set cloud coverage to 0%. Take some time to experiment with different settings for the “CO2-amount” slider. What happens to the temperature if you increase the amount of CO<sub>2</sub> in the model?
      </div>
      <textarea id="uni1_4" name="uni1_4"></textarea>
      <br/>
      <div class="prompt">
         <b>Item 5:</b> All computational models are only approximations of reality. What are some ways in which this model is different from reality?
      </div>
      <textarea id="uni1_5" name="uni1_5"></textarea>
   </div>

<!-- ======================================================================= -->

   <div class="page">
      <center><h3>Heat Transfer in Metal Experiment</h3></center>
      A materials scientist wants to understand how heat transfers through a metal bar. She attached four temperature sensors evenly along the length of the bar as shown in the picture. She then applied a heat source to one end of the bar.
      <br/>
      <center><img src="/static/images/uni1/heat_exp.jpg" style="height:146px;"></center>
      She wrote this computer program to record temperature readings from the sensors:
      <br/>
      <pre style="width: 242px;margin-left:175px;">
repeat forever:
   value1 = readSensor(1)
   value2 = readSensor(2)
   value3 = readSensor(3)
   value4 = readSensor(4)
   print 1, value1, time
   print 2, value2, time
   print 3, value3, time
   print 4, value4, time

   pause 20 seconds</pre>

      <div class="prompt">
         <b>Item 6:</b> Which of these output fragments was generated by her program?
      </div>
      <ol class="check-one two-columns" input-num="uni1_6">
         <!-- yes the margin-left:0px needs to be there - otherwise the select buttons don't show -->
            <li answer="A"><img src="/static/images/uni1/heat_exp_output1.jpg" style="margin-left:0px;"></li>
            <li answer="B"><img src="/static/images/uni1/heat_exp_output2.jpg" style="margin-left:0px;"></li>
            <li answer="C"><img src="/static/images/uni1/heat_exp_output3.jpg" style="margin-left:0px;"></li>
            <li answer="D"><img src="/static/images/uni1/heat_exp_output4.jpg" style="margin-left:0px;"></li>
      </ol>
      <input id="uni1_6" type="text" dir="auto" value="" name="uni1_6" style="display:none;">
      <div class="prompt">
         <b>Item 7:</b> The scientist now wants to make a graph of her data. Which of these graphs would be best to show how all of the sensor readings changed over time?
      </div>
      <ol class="check-one" input-num="uni1_7">
         <!-- yes the margin-left:0px needs to be there - otherwise the select buttons don't show -->
            <li answer="A"><img src="/static/images/uni1/heat_exp_graph1.jpg" style="margin-left:0px;width:343px;padding:.05in"></li>
            <li answer="B"><img src="/static/images/uni1/heat_exp_graph2.jpg" style="margin-left:0px;width:343px;padding:.05in"></li>
            <li answer="C"><img src="/static/images/uni1/heat_exp_graph3.jpg" style="margin-left:0px;width:343px;padding:.05in"></li>
            <li answer="D"><img src="/static/images/uni1/heat_exp_graph4.jpg" style="margin-left:0px;width:343px;padding:.05in"></li>
      </ol>
      <input id="uni1_7" type="text" dir="auto" value="" name="uni1_7" style="display:none;">
   </div>
   <div class="page">
      <div class="prompt">
         <br/>
         <b>Item 8:</b> When the scientist ran her trial with four sensors, she noticed something strange with the third sensor. This graph shows the readings for sensors 2 and 3.
         <br/>
         <center><img src="/static/images/uni1/heat_exp_err.jpg" style="height:333px;"></center>
         Which explanation is most likely?
         <ol class="check-one" input-num="uni1_8">
         <!-- yes the margin-left:0px needs to be there - otherwise the select buttons don't show -->
            <li answer="A">Sensor 3 is working correctly. There is always noise in sensor readings.</li>
            <li answer="B">The heat source got disconnected.</li>
            <li answer="C">Sensor 3 broke after the trial finished.</li>
            <li answer="D">Sensor 3 was accidentally disconnected during the trial.</li>
         </ol>
         <input id="uni1_8" type="text" dir="auto" value="" name="uni1_8" style="display:none;">
      </div>
      <div class="prompt">
         The scientist now wants to measure temperature change at 12 points evenly spaced along the bar. The problem is that she only has 4 sensors that she can use. 
         <br/>
         <b> Item 9A: </b> Which option is best?
      </div>
      <ol class="check-one" input-num="uni1_9a">
         <!-- yes the margin-left:0px needs to be there - otherwise the select buttons don't show -->
            <li answer="A">Run one trial and move the sensors along the bar as they reach an equilibrium temperature.</li>
            <li answer="B">It can't be done without getting more sensors.</li>
            <li answer="C">Run several trials and move the sensors to different locations between the trials.</li>
            <li answer="D">Spread the sensors out evenly along the entire length of the bar and assume that the temperature between sensors will change steadily and predictably.</li>
      </ol>
      <input id="uni1_9a" type="text" dir="auto" value="" name="uni1_9a" style="display:none;">
      <div class="prompt">
         <b> Item 9B: </b> Why did you choose this option?
      </div>
      <textarea id="uni1_9b" name="uni1_9b"></textarea>
   </div>

   <!-- hidden inputs for recording information about the browser -->
   <input id="opened_WS" type="text" dir="auto" value="false" name="opened_WS" style="display:none;">
 {% endblock %}